In [50]:
import pandas as pd
import numpy as np
import statistics as statistics

In [8]:
df = pd.read_csv("desafio1.csv")

In [9]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [10]:
df.describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,2020.870275,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1750.750000,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3500.500000,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,5250.250000,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [11]:
df.groupby("estado_residencia")["pontuacao_credito"].mean()

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [13]:
df.groupby("estado_residencia")["pontuacao_credito"].median()

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [47]:
df.groupby(['estado_residencia'], as_index=False)['pontuacao_credito'].apply(lambda x: x.value_counts(dropna=False).idxmax())

0    850
1    850
2    850
dtype: int64

In [59]:
df.groupby('estado_residencia').pontuacao_credito.apply(lambda x: x.mode())

estado_residencia
PR                 0    850
RS                 0    850
SC                 0    850
Name: pontuacao_credito, dtype: int64

In [60]:
print (df.groupby('estado_residencia').std())

                     RowNumber  pontuacao_credito      idade  \
estado_residencia
PR                 2021.329878          98.607186  10.286044
RS                 2038.163427          95.136598  10.664972
SC                 2011.598038          97.233493  10.438165

                   nivel_estabilidade   saldo_conta  numero_produtos  \
estado_residencia
PR                           2.928214  27063.114013         0.625031
RS                           2.837600  64122.612525         0.563800
SC                           2.892670  64304.799912         0.571102

                   possui_cartao_de_credito  membro_ativo
estado_residencia
PR                                 0.452275      0.500120
RS                                 0.464363      0.499390
SC                                 0.455194      0.499904